# Cleaning (white)

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
import numpy as np
from datetime import datetime, timedelta
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [2]:
white_df = pd.read_csv('White.csv', low_memory = False)
white_df.head()

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
0,Vermentino 2017,Italy,Toscana,Famiglia Castellani,3.8,25,5.65,2017
1,Ronco Broilo 2010,Italy,Colli Orientali del Friuli,Conte d'Attimis Maniago,4.3,25,44.90,2010
2,Weisser Schiefer s 2017,Austria,Südburgenland,Weinbau Uwe Schiefer,4.2,25,33.25,2017
3,Chardonnay 2018,Germany,Rheinhessen,Krämer - Straight,3.9,25,8.99,2018
4,Maganza Zibibbo 2018,Italy,Terre Siciliane,Luna Gaia,3.9,25,8.60,2018

In [3]:
white_df.shape

(3764, 8)

In [4]:
white_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3764 non-null   object
 1   Country          3764 non-null   object
 2   Region           3764 non-null   object
 3   Winery           3764 non-null   object
 4   Rating           3764 non-null   float64
 5   NumberOfRatings  3764 non-null   int64
 6   Price            3764 non-null   float64
 7   Year             3764 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 235.4+ KB

In [5]:
white_df.sort_values('Year')

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
1379,Corton-Charlemagne Grand Cru 1993,France,Corton-Charlemagne Grand Cru,Bonneau du Martray,4.3,56,249.95,1993
1192,Wallufer Walkenberg Riesling Spätlese Trocken ...,Germany,Rheingau,J.B. Becker,4.1,50,25.00,1998
344,Chante-Alouette Hermitage Blanc 1999,France,Hermitage,M. Chapoutier,3.4,30,55.95,1999
3125,Corton-Charlemagne Grand Cru 1999,France,Corton-Charlemagne Grand Cru,Bonneau du Martray,4.2,246,217.95,1999
953,Graacher Domprobst Riesling Auslese*** 2003,Germany,Mosel,Markus Molitor,4.1,43,50.00,2003
...,...,...,...,...,...,...,...,...
3760,Vinho Verde Sweet N.V.,Portugal,Vinho Verde,Casal Garcia,4.0,4609,5.05,N.V.
1577,Bianco N.V.,Italy,Vino d'Italia,Apericena,3.8,64,5.70,N.V.
1877,Greca Terra Retsina N.V.,Greece,Peloponnesos,Tsantali,2.2,77,5.35,N.V.
3694,Retsina N.V.,Greece,Macedonia,Tsantali,2.6,1011,3.95,N.V.
3763,Vinho Verde Branco N.V.,Portugal,Vinho Verde,Casal Garcia,3.7,62980,4.35,N.V.

In [6]:
white_df['Year'] = white_df['Year'].apply(pd.to_numeric, errors = 'coerce')
white_df.sort_values('Year', ascending = False)

,Name,Country,Region,Winery,Rating,NumberOfRatings,Price,Year
1339,Sauvignon Blanc 2020,South Africa,Robertson,Arabella,4.0,55,5.95,2020.0
1673,Sauvignon Blanc 2020,South Africa,Durbanville,Diemersdal,3.8,68,8.90,2020.0
3762,Sauvignon Blanc 2019,New Zealand,Marlborough,Hans Greyl,4.2,5817,7.75,2019.0
2703,Greco Di Tufo 2019,Italy,Greco di Tufo,Feudi di San Gregorio,3.8,157,11.45,2019.0
678,Bianco di Custoza 2019,Italy,Bianco di Custoza,Zenato,3.7,37,5.00,2019.0
...,...,...,...,...,...,...,...,...
1577,Bianco N.V.,Italy,Vino d'Italia,Apericena,3.8,64,5.70,NaN
1877,Greca Terra Retsina N.V.,Greece,Peloponnesos,Tsantali,2.2,77,5.35,NaN
3694,Retsina N.V.,Greece,Macedonia,Tsantali,2.6,1011,3.95,NaN
3760,Vinho Verde Sweet N.V.,Portugal,Vinho Verde,Casal Garcia,4.0,4609,5.05,NaN
3763,Vinho Verde Branco N.V.,Portugal,Vinho Verde,Casal Garcia,3.7,62980,4.35,NaN

In [7]:
white_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3764 entries, 0 to 3763
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3764 non-null   object
 1   Country          3764 non-null   object
 2   Region           3764 non-null   object
 3   Winery           3764 non-null   object
 4   Rating           3764 non-null   float64
 5   NumberOfRatings  3764 non-null   int64
 6   Price            3764 non-null   float64
 7   Year             3759 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 235.4+ KB

In [8]:
white_df = white_df.dropna()
white_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3759 entries, 0 to 3762
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             3759 non-null   object
 1   Country          3759 non-null   object
 2   Region           3759 non-null   object
 3   Winery           3759 non-null   object
 4   Rating           3759 non-null   float64
 5   NumberOfRatings  3759 non-null   int64
 6   Price            3759 non-null   float64
 7   Year             3759 non-null   float64
dtypes: float64(3), int64(1), object(4)
memory usage: 264.3+ KB